@use '../utils/variables' as vars;

body {
  background-color: vars.$background-color;
  color: vars.$color-text;
  font-family: vars.$font-family;
  margin: 0;
  padding: 0;
  font-size: 15px;
  overflow-x: hidden;

  @media (min-width: 480px) {
    font-size: 16px;
  }
  @media (min-width: 768px) {
    font-size: 17px;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: block;
  width: 100%;
  overflow-x: hidden;
}