
// Colores
$primary-color: #007bff; 
$secondary-color: #6c757d; 
$background-color: #282c34; 
$border-color: #ced4da;
$input-background: #f8f9fa;
$button-hover-bg: #0056b3;
$color-text: white;

// Tipografía
$font-family: 'Arial', sans-serif;

