
.header-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  box-shadow: none;
  margin-top: 0.5rem;

  .Logo img {
    width: 170px;
    height: auto;
    margin-bottom: 0.5rem;
  }
}