@use '../../utils/variables' as vars;
@use '../../utils/mixins' as mixins;

.default-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: vars.$background-color;
  color: vars.$color-text;
  padding: 0.5rem 2rem;
  @include mixins.card-shadow;

  .Logo img {
    width: 100px;
    height: auto;
    margin-right: 1rem;
  }
}